body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  color: rgb(255, 255, 255);
}


header {
  background-color: rgb(125, 28, 163);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  min-height: 70px;
  border-bottom: rgb(255, 255, 255) 3px solid;
  display: flex;
  justify-content: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}

header .pontos {
  margin: 0;
  font-weight: bold;
}


.secao {
  padding: 30px;
  margin-top: 40px;
  background: linear-gradient(to right, rgb(255, 255, 255), white);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(209, 191, 200);
  text-align: center;
}


h2 {
  color: rgb(19, 1, 1);
  font-size: 1.1rem;
  margin-bottom: 25px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}

.opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: center;
}

.btn {
  border: none;
  padding: 12px;
  color: white;
  font-size: 0.95rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.vermelha {
  background-color: #912a27;
}
.azul {
  background-color: #222091;
}
.amarela {
  background-color: #d6b524;
  color: #fffdfd;
}
.verde {
  background-color: #266829;
}







